<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jq.btc.app">

    <!-- Required -->
    <permission
        android:name="com.jq.btc.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.jq.btc.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="com.jq.btc.app.MUSIC_SERVER" />

    <uses-permission android:name="com.jq.btc.app.MUSIC_SERVER" />
    <uses-permission android:name="hs.permission.user.info" />

    <application
        android:name="com.jq.btc.CSApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/sliding_translucent">
        <activity
            android:name="com.jq.btc.InitActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jq.btc.homePage.NewMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/windowIsTranslucent_translucent" />

        <activity
            android:name="com.jq.btc.BodyFatScaleInduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.account.role.WeightGoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.account.role.WeightInitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.account.role.STWeightInitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.account.role.STWeightGoalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.bluettooth.report.haier.BodyFatMoreDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.mine.DeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.mine.DeviceActivityNew"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.mine.setting.UnitSetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.bluettooth.BoundDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.bluettooth.report.haier.HaierReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <activity
            android:name="com.jq.btc.bluettooth.WeightMatchingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/sliding_translucent" />
        <!-- ====================闹钟receiver==================== -->
        <receiver android:name="com.jq.btc.receiver.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled" />
                <action android:name="notification_clicked" />
            </intent-filter>
        </receiver>
        <!-- 微信分享回调 -->


        <!-- &lt;!&ndash; Required SDK核心功能 &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="cn.jpush.android.ui.PushActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.ui.PushActivity" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="com.jianqbtctrol" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- &lt;!&ndash; Required  SDK核心功能 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.DownloadService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->


        <!-- &lt;!&ndash; Required SDK 核心功能 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.PushService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTER" /> -->
        <!-- <action android:name="cn.jpush.android.intent.REPORT" /> -->
        <!-- <action android:name="cn.jpush.android.intent.PushService" /> -->
        <!-- <action android:name="cn.jpush.android.intent.PUSH_TIME" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->


        <!-- &lt;!&ndash; Required SDK核心功能 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:name="cn.jpush.android.service.PushReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> -->
        <!-- &lt;!&ndash; Required  显示通知栏 &ndash;&gt; -->
        <!-- <category android:name="com.jianqbtctrol" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT" /> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- &lt;!&ndash; Optional &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->


        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- &lt;!&ndash; Required SDK核心功能 &ndash;&gt; -->
        <!-- <receiver android:name="cn.jpush.android.service.AlarmReceiver" /> -->


        <!-- &lt;!&ndash; User defined.    用户自定义的广播接收器 &ndash;&gt; -->
        <!-- <receiver -->
        <!-- android:najqbtcontrol.receiver.CsJPushReceiver" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> -->
        <!-- &lt;!&ndash; Required  用户注册SDK的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.UNREGISTRATION" /> -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> -->
        <!-- &lt;!&ndash; Required  用户接收SDK消息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> -->
        <!-- &lt;!&ndash; Required  用户接收SDK通知栏信息的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
        <!-- &lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> -->
        <!-- &lt;!&ndash; Optional 用户接受Rich PushPresser Javascript 回调函数的intent &ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" /> -->
        <!-- &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="com.jianqbtctrol" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- &lt;!&ndash; Required  . Enable it you can get statistics data with channel &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_CHANNEL" -->
        <!-- android:value="developer-default" /> -->
        <!-- <meta-data -->
        <!-- android:name="JPUSH_APPKEY" -->
        <!-- android:value="67527d115c49957f5c62fcc5" /> -->
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://glucoseTrends.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <activity
            android:name="com.jq.btc.kitchenscale.Kitchen_Weigh_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jq.btc" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.jq.btc.DataProvider"
            android:exported="false"
            android:process=":pushcore" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.jq.btc" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.jq.btc.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.jq.btc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <!-- <receiver -->
        <!-- android:name="com.example.jpushdemo.MyReceiver" -->
        <!-- android:exported="false" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.REGISTRATION" /> &lt;!&ndash;Required  用户注册SDK的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK消息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> &lt;!&ndash;Required  用户接收SDK通知栏信息的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> &lt;!&ndash;Required  用户打开自定义通知栏的intent&ndash;&gt; -->
        <!-- <action android:name="cn.jpush.android.intent.CONNECTION" />&lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt; -->
        <!-- <category android:name="com.jianqbtctrol" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- &lt;!&ndash; User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调&ndash;&gt; -->
        <!-- <receiver android:name="com.example.jpushdemo.MyJPushMessageReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" /> -->
        <!-- <category android:name="您应用的包名"></category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="67527d115c49957f5c62fcc5" /> <!-- </>值来自开发者平台取得的AppKey -->
    </application>

</manifest>